<div class="eco_market">
  <div class="eco_market__content">
    <h1>ЭкоМаркет</h1>
      <ul>
        <li>
          <a>По популярности</a>
        </li>
        <li>
          <a>По цене</a>
        </li>
        <li>
          <a>По новизне</a>
        </li>
      </ul>
  </div>
  <div class="eco_market__filters_btn">
    <button (click)="openBottomSheet()">Фильтры</button>
  </div>

  <div class="eco_market__mainContent">
    <div class="eco_market__mainContent__search">
      <div class="border">
        <div class="eco_market__mainContent__search__type">
          <h4>Пол</h4>
          <div *ngFor="let i of gender">
            <app-checkbox label="{{i.title}}" id="{{i.title}}"></app-checkbox>
          </div>
        </div>
        <div class="eco_market__mainContent__search__type">
          <h4>Тип товара</h4>
          <app-checkbox label="{{allTp[0].title}}" id="{{allTp[0].title}}"></app-checkbox>
          <div *ngFor="let k of type" class="card_product">
            <app-checkbox label="{{k.title}}" id="{{k.title}}"></app-checkbox>
          </div>
        </div>
        <div class="eco_market__mainContent__search__type">
          <h4>Брэнд</h4>
          <app-checkbox label="{{allBr[0].title}}" id="{{allBr[0].title}}"></app-checkbox>
          <div *ngFor="let j of brand" class="card_product">
            <app-checkbox label="{{j.title}}" id="{{j.title}}"></app-checkbox>
          </div>
        </div>
      </div>
      <app-modal-button 
            text="Сбросить фильтры" 
            color="black" 
            background="rgba(62, 80, 114, 0.08)" 
            width='100%'>
      </app-modal-button>
    </div>

    <div class="eco_market__mainContent__blocks">
      <div class="eco_market__mainContent__blocks__card" (click)="openActionDialog()">
        <app-promo-card price='200'></app-promo-card>
      </div>

      <div class="eco_market__mainContent__blocks__card" *ngFor="let i of data_cards">
        <app-product-card price="{{i.price}}" brand="{{i.brand}}" name="{{i.nameDesc}}" category="{{i.category}}"
          picture="{{i.picture}}"></app-product-card>
      </div>
    </div>
  </div>
</div>