<div class="profil">
    <h1>Личный кабинет</h1>

    <div class="profil__card">

        <div class="profil__card__content">
            <div class="profil__card__content__avatar">
                <img src="/assets/images/user_avatar.png" alt="avatar"/>
            </div>
            <h2>Алексей Петрович</h2>
            <p>+7 (917) 888 88 88</p>
            <p (click)="getProfile()">ivanov@gmail.com</p>
            <div class="profil__card__content__button">
                <button>Редактировать</button>
            </div>
        </div>

        <div class="profil__card__router">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/profil/promocode" [routerLinkActiveOptions]='{exact:true}'
                            routerLinkActive='location_link'>
                            Промокоды
                        </a>
                    </li>
                    <li>
                        <a routerLink="/profil/history" routerLinkActive='location_link'>
                            История
                        </a>
                    </li>
                </ul>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
