<div class="container">
    <h2>Личный кабинет</h2>
    <div class="person">
        <div class="person_card">
            <div class="avatar">
                <img src="/assets/images/user_avatar.png" />
            </div>
            <h2>Алексей Петрович</h2>
            <p>+7 (917) 888 88 88</p>
            <p>ivanov@gmail.com</p>
            <div class="edit_button">
                <button>Редактировать</button>
            </div>
        </div>

        <div class="person_promo_history">
            <nav class="navbar">
                <ul class="nav_link">
                    <li>
                        <a routerLink="/profil/promocode">
                            Промокоды
                        </a>
                    </li>
                    <li>
                        <a routerLink="/profil/history">
                            История
                        </a>
                    </li>
                    <router-outlet></router-outlet>
                </ul>
            </nav>
        </div>
    </div>
</div>