<div class="container">
    <h1>Личный кабинет</h1>
    <div class="person">
        <div class="person_card">
            <div class="avatar"> 
                <img src="/assets/images/user_avatar.png" />
             </div>
             <h2>Алексей Петрович</h2>
            <p>+7 (917) 888 88 88</p>
            <p>ivanov@gmail.com</p>
            <div class="edit_button">
                <button>Редактировать</button>
            </div>
        </div>
 
        <div class="person_promo_history">
            <nav class="navbar">
                <ul class="nav_link">
                    <li>Промокоды</li>
                    <li>История</li>
                    <!-- <li><NavLink to='/promo'>Промокоды</NavLink></li>
                    <li><NavLink to='/history'>История</NavLink></li> -->
                </ul>
            </nav>
        </div>
    </div>
</div>

