.container
    h2
        font-weight: bold
        padding-top: 0.4em
    
    .person
      display: flex
      margin-top: 2.5em
    
    .person_card
        padding: 2em 2em
        height: 100%
        border: 1px solid rgba(62, 80, 114, 0.16)
        border-radius: 20px
        text-align: center
        .avatar
            margin-bottom: 1em
        
    

.edit_button
  width: 100%
  margin-top: 2em
  button
    background: rgba(62, 80, 114, 0.08)
    border-radius: 8px
    padding: 1.2em 6em
    font-size: 16px
    border: none
    margin: 0 2em
  

.person_promo_history
  margin: 0 3em
  width: 100%


.navbar
  width: 100%
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.12)
  ul
    padding: 0em
    justify-content: left
    li
      display: inline
      padding: 8px 1.6em 23px 0em

.wrapper_avatar
  margin: 0 auto

.location_link
  padding-bottom: 1.6em
  border-bottom: 3px solid #07C88E
  color: black
  font-weight: 500

a
  color: black
  text-decoration: none
  &:hover
    font-weight: bold
    border-bottom: 3px solid #07C88E
    padding-bottom: 1.6em
  &:active
    font-weight: bold
    border-bottom: 3px solid #07C88E
    padding-bottom: 1.6em
  

