@import "mixins.sass"

.cardPromo
  border-top: 0.7px solid $c-grey
  border-bottom: 0.7px solid $c-grey
  padding: 1.3em 0
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 2fr 6fr 4fr
  grid-template-areas: "card info button"

  &__image
    grid-area: card

  &__info
    grid-area: info
    padding: 0 1.5em

    &--grin
      color: $c-primary

    &__date
      padding-bottom: 0.5em

    &--black
      color: black
      font-weight: 500

  &__button
    grid-area: button
    padding: 0 0.5em

    button
      justify-content: center
      align-items: center
      background: $c-light
      border-radius: 8px
      border: none
      width: 100%
      padding: 0.7em



