<div class="card_promo">
    <div class="card_promo__image">
        <img src="assets/images/backCard.svg"/>
        <div class="money">1000 ₽</div>
    </div>
    <div class="card_promo__info">
        <p class="card_promo__info--grey">Дата создания:</p>
        <p class="card_promo__info--black">25.09.2021</p>
        <p class="card_promo__info--grey">Ссылка на товар:</p>
        <a class="card_promo__info--grin" href="https://www.adidas.com/clothes/WddfJfsf7dt6fsHFIuj5%D0%BFdfsZFu">adidas.com/clothes/WddfJfsf7dt6fsHFIuj5пdfsZFu...</a>
    </div>
    <div class="card_promo__button">
        <button>Показать qr-код</button>
    </div>
</div>
