<div class="cardPromo">
    <div class="cardPromo__image">
        <img src="{{image}}" />
    </div>
    <div class="cardPromo__info">
        <p class="cardPromo__info--black">Дата создания:</p>
        <p class="cardPromo__info__date">25.09.2021</p>
        <p class="cardPromo__info--black">Ссылка на товар:</p>
        <a class="cardPromo__info--grin" href="https://www.adidas.com/clothes/WddfJfsf7dt6fsHFIuj5%D0%BFdfsZFu">adidas.com/clothes/WddfJfsf7dt6fsHFIuj5пdfsZFu...</a>
    </div>
    <div class="cardPromo__button">
        <button>{{button}}</button>
    </div>
</div>
