@import "mixins.sass" 

.cardPromo
    padding: 1em
    margin: 0
    background: white
    border: 1px solid $c-dblue
    box-shadow: 0px 12px 32px $c-grey
    border-radius: 16px
    font-weight: 500

    &__text
        margin: 6.5em 0
        text-align: center
        font-size: 14px
        line-height: 18px  

        &__flexGroup
            text-align: center
            justify-content: center
            display: flex

            &__union
                display: flex
                margin: -0.5em 0 0 0.2em

                &__icon
                    //background: $c-linear
                    padding: 0em 0.45em
                    margin: 2em 0.3em
                    border-radius: 10px
        
        &__price
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 18px
            color: black
            margin: -10px 0 
            padding: 0
