<div class="card_product">
  <div class="promo_card">
    <div class="text_content">
      <div class="flex_text">
        <p>На вашем балансе </p>
        <div class="union_wrapper">
          <img src="/assets/images/union.svg" class="wrapper_icon" />
          <h5>{{price}}</h5>
        </div>
      </div>
      <p class="price_text">Вы можете обменять их на скидку {{price}} руб.</p>
    </div>
    <app-modal-button text="Получить промокод" color="white" background="#07C88E" width='100%'></app-modal-button>
  </div>
</div>
