<div class="map_content">
    <app-map></app-map>
    <div class="map_content__upperBlock">
        <div class="map_content__upperBlock__container">

            <div class="map_content__upperBlock__container__search">
                <input placeholder='Поиск' />
            </div>

            <div class="map_content__upperBlock__container__filter">
                <button></button>
            </div>

            <div class="map_content__upperBlock__container__select">
                <select>
                    <option value="" disabled selected>Выбрано 3 магазина</option>
                    <option>Выбрать все</option>
                    <option>H&M</option>
                    <option>P&B</option>
                    <option>Adidas</option>
                    <option>Nike</option>
                    <option>Reebok</option>
                </select>

                <select class="map_content__upperBlock__container__select--grey">
                    <option value="" disabled selected>Материалы</option>
                    <option>Пункт 1</option>
                </select>
            </div>
        </div>
        <div class="map_content__upperBlock__cards">
            <map-card></map-card>
            <map-card></map-card>
            <map-card></map-card>
            <map-card></map-card>
        </div>
    </div>
</div>