@import "mixins.sass"

.card_swiper 
    margin: 0 0.5em
    display: flex
    justify-content: space-between
    text-align: left
    border: 1px solid $c-grey
    border-radius: 16px
    &__text 
        padding: 3em 3.5em
        @include main-title
        p 
            font-size: 16px
            padding: 1em 0

        &__button 
            width: 100%
            margin-top: 10%
            button 
                cursor: pointer
                font-size: 16px
                background: $c-primary
                color: white
                justify-content: center
                align-items: center
                border-radius: 8px
                border: none
                padding: 1em 2em
                @include button-hover

    &__image 
        align-items: flex-end
        justify-content: end
        width: 100%

        img 
            border-radius: 16px
            width: 100%

@media screen and (max-width: 795px)
    .card_swiper
        z-index: 0
        width: 100
        border-radius: 0
        flex-wrap: wrap
        &__image 
            z-index: 0
            width: 100%
            img 
                border-radius: 0
                width: 100%
        &__text 
            padding: 2em 2em 0 2em
            &__button 
                padding: 0
                width: 100%
                button 
                    width: 100%
                    cursor: pointer
                    font-size: 16px
                    background: $c-primary
                    justify-content: center
                    align-items: center
                    border-radius: 8px
                    border: none
                    padding: 1em 2em
                    
                    
		

