<header class="header">
  <div class="container">
    <div class="header_content_wrapper">
      <div class="header_logo_wrapper">
        <a [routerLink]="['/']">
          <img src="../../../assets/images/logo.svg" />
        </a>
      </div>
      <!-- <div class="menu_button">
        <div></div>
        <button>
          <img src="../../../assets/images/men.svg" /> енто меню для мобилки
        </button>
      </div> -->
      <nav class="navbar">
        <ul>
          <li>
            <a [routerLink]="['/']"
            [routerLinkActiveOptions]='{exact:true}'
              routerLinkActive='location_link'>
              Главная
            </a>
          </li>
          <li>
            <a [routerLink]="['/collection_points']"
              routerLinkActive='location_link'>
              Пункты сбора
            </a>
          </li>
          <li>
            <a [routerLink]="['/eco_market']"
            routerLinkActive='location_link'>
              ЭкоМаркет
            </a>
          </li>
          <li>
            <a [routerLink]="['/about_service']"
            routerLinkActive='location_link'>
              О сервисе
            </a>
          </li>
        </ul>
      </nav>
      <nav class="side_part">
        <ul>
          <li>
            <img src="../../../assets/images/point.svg" />
            <p>Казань</p>
          </li>
          <li>
            <img src="../../../assets/images/in.svg" />
            <p>Войти</p>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>