<header class="header">
  <div class="header__content">
    <div class="header__content__logo">
      <a [routerLink]="['/']">
        <img src="/assets/images/logo.svg" alt="ecorus"/>
      </a>
    </div>
    <nav class="header__navbar">
      <ul>
        <li>
          <a [routerLink]="['/']" [routerLinkActiveOptions]='{exact:true}' routerLinkActive='location_link'>
            Главная
          </a>
        </li>
        <li>
          <a [routerLink]="['/collection_points']" routerLinkActive='location_link'>
            Пункты сбора
          </a>
        </li>
        <li>
          <a [routerLink]="['/eco_market']" routerLinkActive='location_link'>
            ЭкоМаркет
          </a>
        </li>
        <li>
          <a [routerLink]="['/about_service']" routerLinkActive='location_link'>
            О сервисе
          </a>
        </li>
      </ul>
    </nav>
    <ng-container *ngIf='!authService.isAuthorized; else other'>
      <nav class="header__content__userInfo">
        <ul>
          <li>
            <img src="/assets/images/point.svg" alt="point"/>
            <p>Казань</p>
          </li>
          <li>
            <div (click)="openActionDialog()" class="login">
              <img src="/assets/images/in.svg" alt="login"/>
              <p>Войти</p>
            </div>
          </li>
        </ul>
      </nav>
    </ng-container>

    <ng-template #other>
      <nav class="header__content__userAuth">
        <ul>
          <li>
            <img src="/assets/images/point.svg" alt="point"/>
            <p>Казань</p>
          </li>
          <li>
            <div class="icon"></div>
            <p>1000</p>
          </li>
          <li>
            <div (click)="openProfile()" class="login">
              <img src="/assets/images/no_avatar.png" alt="avatar"/>
              <p>{{user.email}}</p>
            </div>
          </li>
          <li>
            <div (click)="authService.deleteInStorage();closeProfile()" class="login">
              <img src="/assets/images/in.svg" alt="logout"/>
              <p>Выйти</p>
            </div>
          </li>
        </ul>
      </nav>
    </ng-template>
  </div>
  <div class="menu">
    <button (click)='openMenu()'></button>
  </div>
</header>
