@import "mixins.sass" 

.eco_market
  z-index: 10
  @include main_wrap

  &__content
    padding: 1em 
    display: flex
    justify-content: space-between
    @include second-title

    ul
      padding-top: 1em
      display: flex
      list-style-type: none

    li
      padding-top: 0.75em
      margin: 0 0.25em

    a
      cursor: pointer
      font-weight: 400
      font-size: 14px
      line-height: 20px
      background: $c-dblue
      padding: 0.75em
      border-radius: 61px

      &:hover
        background: black
        color: white

      &:active
        box-shadow: 0px 0px 5px rgba(121, 121, 121, 0.12), 0px 4px 24px rgba(21, 45, 103, 0.12)
        background: black
        color: white

  &__mainContent
    margin: 0 
    display: grid
    grid-template-columns: 3fr 9fr
    grid-template-areas: "search_block cards_block"
    
    &__blocks
      grid-area: cards_block
      display: flex
      padding: 0

      justify-content: right
      flex-wrap: wrap

      &__card
        padding: 0 0.5em 0.5em 0.5em 
        margin: 0 
        cursor: pointer
        width: 30.3%

        &:hover
          transform: translateY(-2px)

        &:active
          transform: translateY(-3px)


    &__search
      grid-area: search_block

      button
        padding: 0.85em
        margin-top: 1.25em

      &__type
        padding: 0.5em

        h4
          padding: 0
          margin-bottom: 1em
.border
  border: 1px solid $c-light
  border-radius: 20px
  padding: 0 2em
  margin-bottom: 2em

@media screen and (max-width: 795px)
  .eco_market
    @include zeroing-indents
  .eco_market__mainContent__search
    display: none
  .eco_market__mainContent
    display: block
    width: 100%
  .eco_market__mainContent__blocks
    width: 100%
    display: block
  .eco_market__mainContent__blocks__card
    width: 100%
    padding: 1em
  .eco_market__content
    display: none
