<!--<Trail>-->
<div class="container">
  <div class="page_wrapper">

    <div class="upper_block_container">
      <h1>ЭкоМаркет</h1>
      <div class="links">
        <ul>
          <li>
            <a>По популярности</a>
          </li>
          <li>
            <a>По цене</a>
          </li>
          <li>
            <a>По новизне</a>
          </li>
        </ul>
      </div>

    </div>
    <!--      <div class={styles.hidden_button}>-->
    <!--        <button class={styles.filters_button} onClick={()-->
    <!--        => setOpen(!open)}>-->
    <!--        Фильтры-->
    <!--        </button>-->
    <!--      </div>-->

    <!--      <CustomSheet open={open} setOpen={setOpen}/>-->
    <div class="main_content">

      <div class="search_block_wrapper">


        <div class="search_block">
          <div class="search_type">
            <h4>Пол</h4>
            <app-checkbox
              label='Мужской'
              id='Мужской'></app-checkbox>
            <app-checkbox
              label='Женский'
              id='Женский'></app-checkbox>
          </div>
          <div class="search_type">
            <h4>Тип товара</h4>
            <app-checkbox
              label='Выбрать все'
              id='Выбрать все'></app-checkbox>
            <app-checkbox
              label='Одежда'
              id='Одежда'></app-checkbox>
            <app-checkbox
              label='Обувь'
              id='Обувь'></app-checkbox>
            <app-checkbox
              label='Аксессуары'
              id='Аксессуары'></app-checkbox>
          </div>
          <div class="search_type">
            <h4>Брэнд</h4>
            <app-checkbox
              label='Выбрать все'
              id='Выбрать все 2'></app-checkbox>
            <app-checkbox
              label='H&M'
              id='H&M'></app-checkbox>
            <app-checkbox
              label='P&B'
              id='P&B'></app-checkbox>
            <app-checkbox
              label='Adidas'
              id='Adidas'></app-checkbox>
            <app-checkbox
              label='Nike'
              id='Nike'></app-checkbox>
            <app-checkbox
              label='Reebok'
              id='Reebok'></app-checkbox>
          </div>

        </div>


        <app-modal-button text="Сбросить фильтры" color="black"
                          background="rgba(62, 80, 114, 0.08)"
                          width='100%'></app-modal-button>
      </div>
      <div class="cards_block">
        <div class="card_product">
          <app-promo-card price='200'></app-promo-card>
        </div>
        <div *ngFor="let i of data" class="card_product">
            <app-product-card price="{{i.price}}"
                              brand="{{i.brand}}"
                              name="{{i.nameDesc}}"
                              category="{{i.category}}"
                              picture="{{i.picture}}"></app-product-card>
        </div>
      </div>

    </div>

  </div>

</div>
<!--</Trail>-->
