<div class="container">
    <app-swiper></app-swiper>
    <div class="blocks">
        <app-banner title='Пункты сбора' text='Посмотри, где в твоем городе можно сдать вторсырье на переработку'
        link="['/collection_points']" image='../../assets/images/map.svg' ></app-banner>
        <app-banner title='ЭкоМаркет'
            text='Используй заработанные экокоины для покупки товаровиз переработанных материалов '
            link="['/eco_market']" image='../../assets/images/reduce.svg' ></app-banner>
    </div>
</div>
<app-footer></app-footer>