<div class="menu_modal">
    <div class='menu_modal__user'>
        <ng-container *ngIf='authService.isAuthorized; else default'>
            <a [routerLink]="['/profile']" (click)="close(true)">
                <div class='menu_modal__user__content'>
                    <img src='/assets/images/no_avatar.png' alt="avatar" />
                    <div class='menu_modal__user__content__info'>
                        <p>{{user.email}}</p>
                        <div class="menu_modal__user__content__info__name">
                            <div class="menu_modal__user__content__info__icon"></div>
                            <h4>1000</h4>
                        </div>
                    </div>
                </div>
            </a>
        </ng-container>

        <ng-template #default>
            <div></div>
        </ng-template>
        <button class="menu_modal__user__button" (click)="close(true)"></button>
    </div>

    <ul class='menu_modal__links'>
        <li>
            <a [routerLink]="['/']" [routerLinkActiveOptions]='{exact:true}' routerLinkActive='location_link'
                (click)="close(true)">
                Главная
            </a>
        </li>

        <li>
            <a [routerLink]="['/collection_points']" routerLinkActive='location_link' (click)="close(true)">
                Пункты сбора
            </a>
        </li>

        <li>
            <a [routerLink]="['/eco_market']" routerLinkActive='location_link' (click)="close(true)">
                ЭкоМаркет
            </a>
        </li>

        <li>
            <a [routerLink]="['/about_service']" routerLinkActive='location_link' (click)="close(true)">
                О сервисе
            </a>
        </li>
        <li>
            <ng-container *ngIf='authService.isAuthorized; else login'>
                <a [routerLink]="['/']" (click)="close(true);authService.deleteInStorage()">
                    Выйти
                </a>
            </ng-container>
            <ng-template #login>
                <a [routerLink]="['/']" (click)="close(true);openActionDialog()">
                    Войти
                </a>
            </ng-template>
        </li>
    </ul>
</div>