<div class="menu_modal">
    <ng-container>
        <div class='menu_modal__user'>
            <img src='/assets/images/no_avatar.png' alt="avatar" />
            <div class='modal__profile_info'>
                <p *ngIf="user.email == null; else default">
                    Имя Фамилия
                </p>
                <ng-template #default>
                    <p>{{user.email}}</p>
                </ng-template>
            </div>
        </div>
    </ng-container>
    <ul class='menu_modal__links'>
        <li>
            <a [routerLink]="['/']" 
                [routerLinkActiveOptions]='{exact:true}' 
                routerLinkActive='location_link'
                (click)="close(true)">
                Главная
            </a>
        </li>

        <li>
            <a [routerLink]="['/collection_points']" 
                routerLinkActive='location_link'
                (click)="close(true)">
                Пункты сбора
            </a>
        </li>

        <li>
            <a [routerLink]="['/eco_market']" 
                routerLinkActive='location_link'
                (click)="close(true)">
                ЭкоМаркет
            </a>
        </li>

        <li>
            <a [routerLink]="['/about_service']" 
                routerLinkActive='location_link'
                (click)="close(true)">
                О сервисе
            </a>
        </li>
        <li>
            <a [routerLink]="['/']" 
                routerLinkActive='location_link'
                (click)="close(true);">
                Выйти
            </a>
        </li>
    </ul>
</div>