<form [formGroup]='Form'>
  <div class="wrapper_title">
    <div class="modal_title">
      <h3>Вход</h3>
    </div>
    <div class="wrapper_exit_button">
      <button (click)="close(true)">
        <img src="../../../../assets/images/out.svg" alt=""/>
      </button>
    </div>
  </div>
  <div class="content_wrapper">
    <div class="input_wrapper">
      <input placeholder="Email" type='text' name='email' formControlName='email'/>
    </div>
    <ng-container
      *ngIf='control("email")?.touched && control("email")?.errors'
    >
      <span class="errors">Почта должна содержать минимум 4 символа</span>
    </ng-container>
    <div class="input_wrapper">
      <input placeholder='Пароль' type='password' name='password' formControlName='password'/>
    </div>
    <ng-container
      *ngIf='control("password")?.touched && control("password")?.errors'
    >
      <span class="errors">Пароль должен содержать минимум 4 символа</span>
    </ng-container>
    <div class="button_wrapper">
      <div class="button_wrapper_content">
        <app-modal-button text='Войти' color='white' background='#07C88E' width='100%'></app-modal-button>
      </div>
      <div class="link_text_wrapper">
        <div>
          <a (click)="close(true);openActionDialog()">Войти с помощью смс</a>
        </div>
        <div>
          <a (click)="close(true);openActionDialog()">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
</form>
