<div class='full_card' *ngIf='point'>
    <a class='full_card__back' routerLink='/collection_points'>
        <p>Вернуться назад</p>
    </a>
    <div class='full_card__info'>
        <div class='full_card__info__image'>
            <img src='/assets/images/bins.png' />
        </div>
        <div class='full_card__info__content'>
            <div>
                <h3>​{{point.address}}</h3>
                <p>+7 (917) 888 88 88</p>
            </div>
            <div>
                <p>Пн - Пт 08:00 - 20:00</p>
                <p>Сб - Вс 10:00 - 18:00</p>
            </div>
            <div>
                <h3>H&M</h3>
                <div class='full_card__info__content__items'>
                    <div class='item'>Пластик: от 5 кг</div>
                    <div class='item'>Стекло: от 2 кг</div>
                    <div class='item'>Бумага: от 10 кг</div>
                    <div class='item'>Батареи: от 2 кг</div>
                </div>
            </div>
            <div>
                <h3>Adidas</h3>
                <div class='full_card__info__content__items'>
                    <div class='item'>Пластик: от 5 кг</div>
                    <div class='item'>Стекло: от 2 кг</div>
                    <div class='item'>Бумага: от 10 кг</div>
                </div>
            </div>
        </div>
    </div>
</div>