<div class="card">
  <div class="card__history">
    <p class="card__history--grey">Адрес</p>
    <p class="card__history--black">​Казань, Кремлёвская, 88</p>
    <p class="card__history--grey">Материал</p>
    <div class='card__history--list'>
      <ul>
        <li class='list_element'>
						<span>
							Пластик: 1 кг
						</span>
        </li>
        <li class='list_element'>
						<span>
							Стекло: 3 кг
						</span>
        </li>
        <li class='list_element'>
						<span>
							Бумага: 5 кг
						</span>
        </li>
      </ul>
    </div>
    <p class="card__history--grey">Дата</p>
    <p class="card__history--black">25.09.2021</p>
    </div>
  <div class="card__price">
    <img src="/assets/images/money.svg" alt="E"/><span>1000</span>
  </div>
</div>
