.wrapper
    margin: 1.3em 0
    padding: 1.7em
    border: 1px solid rgba(62, 80, 114, 0.16)
    border-radius: 20px
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 11fr 1fr
    grid-template-areas: "info price"
    .history_info
      grid-area: info
      p
        padding: 0
        margin: 0
        .info
          color: rgba(0, 11, 38, 0.4)
          font-weight: 500
        .description
          padding-bottom: 1em

      .history_price
        display: flex
        grid-area: price
        img
          width: 20px
          height: 20px
          margin: 0 0.5em