<div class="card_skeleton">
    <div class="card_skeleton__image">
        <app-skeleton-loader Width="115" Height="80"></app-skeleton-loader>
    </div>
    <div class="card_skeleton__text">
        <app-skeleton-loader Width="190" Height="18"></app-skeleton-loader>
        <app-skeleton-loader Width="215" Height="16"></app-skeleton-loader>
        <app-skeleton-loader Width="215" Height="16"></app-skeleton-loader>
        <app-skeleton-loader Width="215" Height="16"></app-skeleton-loader>
    </div>
</div>