<div class='sliderWrapper'>
    <div class='navigation'>
        <div class='swiper-button-prev-custom'>
            <img src='../../../assets/images/prev.svg' alt=''>
        </div>

        <div class='swiper-button-next-custom'>
            <img src='../../../assets/images/next.svg' alt=''>
        </div>
    </div>
    <swiper [config]='config'>
        <ng-template swiperSlide>
            <app-swiperCard title='Сделаем мир чище'
                text='Сдай макулатуру или старую одежду и получи скидку на покупку товаров из переработанных материалов'
                btnText='Условия сервиса' background='#B3EDC8' image='../../assets/images/first-slide-pict.svg'>
            </app-swiperCard>
        </ng-template>
        <ng-template swiperSlide>
            <app-swiperCard title='А вы знали...'
                text='что среднее время разложения пластмассовых изделий колеблется от 400 до 700 лет,  а полиэтиленовых пакетов — от 100 до 200 лет? '
                btnText='Узнать больше' background='#FFE48F' image='../../assets/images/second-slide-pict.svg'>
            </app-swiperCard>
        </ng-template>
        <ng-template swiperSlide>
            <app-swiperCard title='Что с масками?'
                text='Сдай макулатуру или старую одежду и получи скидку на покупку товаров из переработанных материалов'
                btnText='Пункты сбора масок' background='#BFF0DE' image='../../assets/images/third-slide-pict.svg'>
            </app-swiperCard>
        </ng-template>
    </swiper>
</div>