<div class="filters-menu">
    <div class="filters-menu__button">
        <button (click)="close(true)"></button>
    </div>
    <div class="filters-menu__filters">
        <div class='filters-menu__filters__block'>
            <h4>Материал</h4>
            <app-checkbox label="{{allTp[0].title}}" id="{{allTp[0].title}}"></app-checkbox>
            <div *ngFor="let i of materials" class="card_product">
                <app-checkbox label="{{i.title}}" id="{{i.title}}"></app-checkbox>
            </div>
        </div>
        <div class='filters-menu__filters__block'>
            <h4>Брэнд</h4>
            <app-checkbox label="{{allBr[0].title}}" id="{{allBr[0].title}}"></app-checkbox>
            <div *ngFor="let j of brand" class="card_product">
                <app-checkbox label="{{j.title}}" id="{{j.title}}"></app-checkbox>
            </div>
        </div>
    </div>
    <div class="filters-menu__buttons">
        <button class="apply" (click)="close(true)">Применить</button>
        <button class="reset" (click)="close(true)">Сбросить фильтры</button>
    </div>
</div>