<footer class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="mail">
        <div class="icon_wrapper">
<!--          <img src="../../../assets/images/">-->
<!--          <Icon name='mail' width='25' height='21'/>-->
        </div>
        <p>info@ecorus.ru</p>
      </div>
      <div class="phone">
        <div class="icon_wrapper">
<!--          <Icon name='phone' width='22' height='22'/>-->
        </div>
        <p>+7 (800) 880-88-88</p>
      </div>
    </div>
  </div>
</footer>
